<div id="profillist_body">
    <!-- Page Content -->
    <div class="container">
        <!-- <div class="profile-background"></div>-->
		<div class="row">
            <div *ngIf="!users"><div class="alert alert-info col-sm-12 col-lg-12 col-md-12 text-center">Loading...</div></div>
            <div *ngFor="let user of users; let i = index">
                <div class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/profil/' + user.id]">
                    <div class="thumbnail">
                        <img height="120" src="https://api.twicecast.ovh/users/{{user.id}}/avatar" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4><a>{{user.pseudo}}</a>
                            </h4>
                            <p>{{(user.bio && user.bio != '') ? user.bio : 'No biography!'}}</p>
                        </div>
                        <div class="ratings">
                            <p class="text-center" *ngIf="streams && isLive(user.id)">
                                • Currently live !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
