<div id="profildetail_body">
    <!-- Page Content -->
    <div class="container-fluid" *ngIf="user">
		<div class="row">
            <div class="col-sm-6 col-xs-12" style="background-image:url('../assets/profile_background.png');background-size:cover;background-repeat:no-repeat;height:600px;">
                <!-- Profile -->
                <div class="profile panel col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" style="background-color:rgba(255,255,255,0.4);min-width:300px;">
                    <div class="row panel-heading picture_container">
                        <input type="file" (change)="fileChangeEvent($event)" id="upload-photo" *ngIf="isCurrentUser==true" />
                        <figure class="clickable">
                            <img src="https://api.twicecast.ovh/users/{{ id }}/avatar" width="250" height="250" class="img-circle" id="picture" alt="...">
                            <figcaption *ngIf="isCurrentUser==true" >
                                <h4 style="color:white;">
                                    <label for="upload-photo">
                                        Upload new avatar
                                    </label>
                                </h4>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="row panel-body text-center">
                        <h1 style="word-break:break-all;color:white;text-shadow:2px 2px #000000;">{{user.pseudo}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-center personal_info" style="height:600px;">
                <h3 style="text-shadow:4px 4px #eeeeee">Who is {{user.pseudo}} ?</h3><br />
                <label for="" style="font-size:15px;">Email</label><br />
                <input style="font-size:20px;text-align:center;" type="text" value="{{user.email}}" disabled><br />
                <form *ngIf="isCurrentUser==true" class="form-horizontal"><br />
                    <label for="inputPasswordChanger" style="font-size:15px;">Change Password</label><br />
                    <input style="font-size:20px;text-align:center;" type="password" [(ngModel)]="inputPasswordChanger" id="inputPasswordChanger" placeholder="" name="inputPasswordChanger" #name="ngModel" required ><br /><br />
                    <button class="btn btn-danger" (click)="changePassword()">Change</button>
                </form>
                <br /><br />
                <!-- BIO BIRTHDATE GENDER GITHUB LINKDIN -->
                <div style="display:inline-block">
                <div *ngIf="isCurrentUser==true" style="display:inline-block">
                <h3>Personal informations &nbsp;<img *ngIf="isEditing==false" (click)="startEditing()" src="assets/edit.png"><img *ngIf="isEditing==true" (click)="endEditing()" src="assets/done.png"></h3>
                </div>
                <form class="form-horizontal" id="formPersonalInfo" name="formPersonalInfo">
                    <label for="inputBio" style="font-size:15px">Bio</label><br />
                    <textarea style="font-size:20px;text-align:center;" type="text" [(ngModel)]="inputBio" id="inputBio" placeholder="" name="inputBio" #name="ngModel" disabled>{{user.biography}}</textarea><br /><br />
                    <label for="inputBirth" style="font-size:15px">Birth Date</label><br />
                    <input style="font-size:20px;text-align:center;" type="date" [(ngModel)]="inputBirth" id="inputBio" placeholder="" name="inputBirth" #name="ngModel" disabled value="{{user.birthDate}}"><br /><br />
                    <label for="inputGender" style="font-size:15px">Gender</label><br />
                    <input style="font-size:20px;text-align:center;" type="text" [(ngModel)]="inputGender" id="inputGender" placeholder="" name="inputGender" #name="ngModel" disabled value="{{user.gender}}"><br /><br />
                    <label for="inputGitHub" style="font-size:15px">GitHub</label><br />
                    <input style="font-size:20px;text-align:center;" type="text" [(ngModel)]="inputGitHub" id="inputGitHub" placeholder="" name="inputGitHub" #name="ngModel" disabled value="{{user.github}}"><br /><br />
                    <label for="inputLinkedIn" style="font-size:15px">LinkedIn</label><br />
                    <input style="font-size:20px;text-align:center;" type="text" [(ngModel)]="inputLinkedIn" id="inputLinkedIn" placeholder="" name="inputLinkedIn" #name="ngModel" disabled value="{{user.linkdin}}"><br /><br />
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
