#chat_body
{
    color: white;
    overflow: hidden;
}

#Chat {
	background-color : #2D241E;
    overflow: hidden;
}

#MessagesContainer {
    height: calc(100vh - 42px);
    margin : 2px;
    margin-right: 0;
    margin-bottom: 40px;
    max-height: 100vh;
    position: relative;
	overflow : auto;
    box-sizing: border-box;
}

#Chat .author {
	margin-left : 5px;
	color : #E67E30;
	border-bottom : 1px solid #E67E30;
	font-size : 24px;
}

#Chat .chat-command {
    cursor: pointer;
    font-size: 22px;
}
#Chat .chat-command:hover {
    color: #E67E30;
}

#Chat .system {
	border-radius: 5px;
	color : #1FA055;
	font-size : 20px;
}

#Chat .message {
	color : white;
	font-size : 18px;
}

#Chat .input-group {
    height: 37px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin : 2px;
}

#Chat .chatmsg {
    background: rgba(255,255,255,0.2);
	border-radius: 5px;
	margin : 2px;
}

#Chat .chatmsg>.chatmsg {
    background:rgba(0,0,0,0);
}

#Chat #sendChat {
	padding : 5px;
	font-size : 18px;
	margin-bottom : 0px;
}

#Chat #newChatMessage {
	color : white;
	font-size : 18px;
}
