.logo {
    float: left;
    margin-top: -15px;
    height: 50px;
}

.inverted-title {
    color: #fff !important;
}

.row-container {
/*    padding-top: 70px;*/
}

footer {
    background: #333;
    color: #fff;
}
