<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/']" class="navbar-brand logo_container"><img src="assets/twicecast.png" class="logo">  TwiceCast</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Navigate by <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a [routerLink]="['/profil']">User</a></li>
                        <li><a [routerLink]="['/languages']">Category</a></li>
                    </ul>
                </li>
                <li>
                    <a *ngIf="!sm.isLogged()" [routerLink]="['/signin']">Sign in</a>
                </li>
                <li>
                    <a *ngIf="!sm.isLogged()" [routerLink]="['/signup']">Sign up</a>
                </li>
                <li>
                    <a *ngIf="sm.isLogged()" [routerLink]="['/live/'+sm.getId()]"><button type="button" class="btn btn-danger btn-sm">Get LIVE now</button></a>
                </li>
                <li>
                    <a *ngIf="sm.isLogged()" [routerLink]="['/']">{{sm.getLogin()}}</a>
                </li>
                <li>
                    <a *ngIf="sm.isLogged()" (click)="sm.Logout()" [routerLink]="['/']">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content router -->
<router-outlet></router-outlet>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="http://eip.epitech.eu/2018/twicecast/">About us</a></li>
                    <li><a [routerLink]="['/']">Support</a></li>
                    <li><a href="https://github.com/TwiceCast">Contribute !</a></li>
                    <li><a href="https://github.com/TwiceCast/API">API</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="http://eip.epitech.eu/2018/twicecast/#contact">Contact</a></li>
                    <li><a [routerLink]="['/']">FAQ</a></li>
                    <li><a href="https://www.facebook.com/twicecast/">Follow us !</a></li>
                    <li><a [routerLink]="['/']">Partner</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
