<!-- Recommanded streams -->
<div class="row-container" id="recommanded-stream">
    <!-- Container -->
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                    <h4 class="inverted-title" id="recommanded-streams">Recommanded Streams</h4>
            </div>
        </div>
        <!-- /Title -->
        <!-- Carousel -->
        <div class="row">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-recommanded-stream" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-recommanded-stream" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-recommanded-stream" data-slide-to="1"></li>
                            <li data-target="#carousel-recommanded-stream" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="slide-image" src="http://www.hradigital.com/images/skills/js.jpg" alt="">
                                <div class="carousel-caption">
                                    <h5>JavaScript</h5>
                                </div>
                            </div>
                            <div class="item">
                                <img class="slide-image" src="https://offshorerubyonrails.files.wordpress.com/2016/07/step-by-step-guide-to-building-your-first-ruby-gem.png?w=800&h=300" alt="">
                                <div class="carousel-caption">
                                    <h5></h5>
                                </div>
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://apycom.com/assets/images/code-editor-2.jpg" alt="">
                                <div class="carousel-caption">
                                    <h5>Distant peer programming</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Carousel -->
    </div>
    <!-- /Container -->
</div>
<!-- /Recommanded streams -->

<!-- Currently popular -->
<div class="row-container" id="most_viewed_stream">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Currently Popular</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" *ngIf="popular_streams">
                    <div *ngFor="let stream of popular_streams; let i = index" class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/stream/'+stream.id]">
                        <div class="thumbnail">
                            <img src="assets/320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4 class="text-primary">{{ stream.title }}</h4>
                                <p>{{ stream.description }}</p>
                            </div>
                            <div class="ratings">
                                <p class="text-center">
                                    Live now !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" *ngIf="!popular_streams">
                    <div *ngIf="sm.isLogged()" class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/live/'+sm.getId()]">
                        <div class="thumbnail">
                            <img src="assets/320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4 class="text-primary">No stream</h4>
                                <p>There is no stream at the moment.<br />
                                    Start streaming to be the first !</p>
                            </div>
                            <div class="ratings">
                                <p class="text-center">
                                    Start streaming now !
                                </p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!sm.isLogged()" class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/signup']">
                        <div class="thumbnail">
                            <img src="assets/320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4 class="text-primary">No stream</h4>
                                <p>There is no stream at the moment.<br />
                                    Start streaming to be the first !</p>
                            </div>
                            <div class="ratings">
                                <p class="text-center">
                                    Start streaming now !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /Currently popular -->

<!-- Popular categories -->
<div class="row-container" id="most_viewed_category">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Most viewed categories</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="pointer col-sm-2 col-lg-2 col-md-2 text-center" [routerLink]="['/languages']">
                        <div class="thumbnail">
                            <img src="assets/150x200.png" alt="">
                            <div class="caption">
                                <h5 class="pull-right"></h5>
                                <h5 class="text-primary">Category 1</h5>
                            </div>
                        </div>
                    </div>

                    <div class="pointer col-sm-2 col-lg-2 col-md-2 text-center" [routerLink]="['/languages']">
                        <div class="thumbnail">
                            <img src="assets/150x200.png" alt="">
                            <div class="caption">
                                <h5 class="pull-right"></h5>
                                <h5 class="text-primary">Category 2</h5>
                            </div>
                        </div>
                    </div>

                    <div class="pointer col-sm-2 col-lg-2 col-md-2 text-center" [routerLink]="['/languages']">
                        <div class="thumbnail">
                            <img src="assets/150x200.png" alt="">
                            <div class="caption">
                                <h5 class="pull-right"></h5>
                                <h5 class="text-primary">Category 3</h5>
                            </div>
                        </div>
                    </div>

                    <div class="pointer col-sm-2 col-lg-2 col-md-2 text-center" [routerLink]="['/languages']">
                        <div class="thumbnail">
                            <img src="assets/150x200.png" alt="">
                            <div class="caption">
                                <h5 class="pull-right"></h5>
                                <h5 class="text-primary">Category 4</h5>
                            </div>
                        </div>
                    </div>

                    <div class="pointer col-sm-2 col-lg-2 col-md-2 text-center" [routerLink]="['/languages']">
                        <div class="thumbnail">
                            <img src="assets/150x200.png" alt="">
                            <div class="caption">
                                <h5 class="pull-right"></h5>
                                <h5 class="text-primary">Category 5</h5>
                            </div>
                        </div>
                    </div>

                    <div class="pointer col-sm-2 col-lg-2 col-md-2 text-center" [routerLink]="['/languages']">
                        <div class="thumbnail">
                            <img src="assets/150x200.png" alt="">
                            <div class="caption">
                                <h5 class="pull-right"></h5>
                                <h5 class="text-primary">Category 6</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /Popular categories -->

<!-- Join Us -->
<div *ngIf="!sm.isLogged()" class="row-container" id="join-us">
    <!-- Container -->
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-offset-1 col-lg-11">
                    <h4 class="inverted-title page-header">Join us !</h4>
            </div>
        </div>
        <!-- /Title -->
        <div class="row">
            <!-- Viewer -->
            <div class="col-lg-offset-2 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Viewer</h2>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Talk with streamers</li>
                            <li>Access project's files</li>
                            <li>Get notified when favorite streamers are online !</li>
                        </ul>
                        <a [routerLink]="['/signup']" class="btn btn-primary center-block">Start as viewer now !</a>
                    </div>
                </div>

            </div>
            <!-- /Viewer -->
            <!-- Streamer -->
            <div class="col-lg-offset-1 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Streamer</h2>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Share content & experience</li>
                            <li>Use deticated tools</li>
                            <li>Teach to beginners</li>
                            <li>Get noticed by companies</li>
                        </ul>
                        <a [routerLink]="['/signup']" class="btn btn-primary center-block">Start streaming now !</a>
                    </div>
                </div>

            </div>
            <!-- /Streamer -->
        </div>
    </div>
</div>
<!-- /Join Us -->

<!-- Random stream -->
<div class="row-container" id="random_stream">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Random Streams</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" *ngIf="random_streams">
                    <div *ngFor="let stream of random_streams; let i = index" class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/stream/'+stream.id]">
                        <div class="thumbnail">
                            <img src="assets/320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4 class="text-primary">{{ stream.title }}</h4>
                                <p>{{ stream.description }}</p>
                            </div>
                            <div class="ratings">
                                <p class="text-center">
                                    Live now !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" *ngIf="!random_streams">
                    <div *ngIf="sm.isLogged()" class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/live/'+sm.getId()]">
                        <div class="thumbnail">
                            <img src="assets/320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4 class="text-primary">No stream</h4>
                                <p>There is no stream at the moment.<br />
                                    Start streaming to be the first !</p>
                            </div>
                            <div class="ratings">
                                <p class="text-center">
                                    Start streaming now !
                                </p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!sm.isLogged()" class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/signup']">
                        <div class="thumbnail">
                            <img src="assets/320x150.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4 class="text-primary">No stream</h4>
                                <p>There is no stream at the moment.<br />
                                    Start streaming to be the first !</p>
                            </div>
                            <div class="ratings">
                                <p class="text-center">
                                    Start streaming now !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /Random stream -->

<!-- Preventing Carousel not starting automatically -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 1200;
    });
  });
</script>
