<div id="live_body" *ngIf="this.sm.isLogged()">
    <div class="container" style="padding-top:20px;padding-bottom:20px;">
        <div class="well live_status">

            <div class="row">
                <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>
                            Status : <span [class.text-danger]="live" [class.text-warning]="!live">{{ (live) ? 'LIVE': 'OFFLINE' }}</span>
                            <button type="button"
                                    class="btn btn-success pull-right"
                                    style="vertical-align: middle;"
                                    *ngIf="processingLive == false"
                                    (click)="ProcessLive()">Turn {{ live ? 'OFF' : 'ON' }}</button>
                            <button type="button"
                                    class="btn btn-success pull-right"
                                    style="vertical-align: middle;"
                                    *ngIf="processingLive == true"
                                    disabled><i class='fa fa-spinner fa-spin '></i> Processing</button>
                        </h4>
                    </div>
                    <div class="panel-footer" style="color: black;">
                        <p>Stream URL : <b>http://twicecast.ovh:1935/live/</b></p>
                        <span>Stream Key : <b>{{sm.getId()}}</b></span>
                    </div>
                </div>
                </div>
            </div>

            <div class="row">

                <!-- Stream INFOS -->
                <div class="col-md-6 text-center">
                    <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#streaminfos_collapse">Stream Infos</a>
                                <button type="button"
                                    class="btn btn-success btn-xs pull-right"
                                    style="vertical-align: middle;"
                                    *ngIf="processingLive == false && !live"
                                    (click)="ProcessLive()">Turn ON</button>
                                <button type="button"
                                        class="btn btn-success btn-xs pull-right"
                                        style="vertical-align: middle;"
                                        *ngIf="processingLive == false && live"
                                        >Update</button>
                                <button type="button"
                                        class="btn btn-success btn-xs pull-right"
                                        style="vertical-align: middle;"
                                        *ngIf="processingLive == true"
                                        disabled><i class='fa fa-spinner fa-spin '></i> Processing</button>
                            </h4>
                        </div>
                        <div id="streaminfos_collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 form-group">
                                    <label for="InputStreamTitle" style="color:black;">Stream title</label>
                                    <input [(ngModel)]="InputStreamTitle" type="text" class="form-control" id="InputStreamTitle" name="InputStreamTitle" placeholder="Enter title" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 form-group">
                                    <label for="InputStreamDescription" class="" style="color:black;">Stream Description</label>
                                    <textarea [(ngModel)]="InputStreamDescription" class="form-control" id="InputStreamDescription" name="InputStreamDescription" placeholder="Enter description" maxlength="100" style="resize:none; height:80px"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:30px;margin-top:10px;">
                                <div class="col-lg-10 col-lg-offset-1 form-group">
                                    <label style="color:black;">Tags for your stream</label>
                                </div>
                                <div class="col-lg-10 col-lg-offset-1 text-center" *ngIf="tags">
                                    <button *ngFor="let tag of tags" type="button" class="btn btn-primary tag-filter" data-toggle="button" (click)="tagPressed(tag.id)" aria-pressed="false" style="margin-right:10px;margin-left:10px;margin-bottom:10px;"autocomplete="off">
                                        {{ tag.name }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- !Stream INFOS -->

                <!-- Stream CHAT -->
                <div class="col-md-6">
                    <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" href="#chat_collapse">Chat</a>
                            </h4>
                        </div>
                        <div id="chat_collapse" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="row">
                    <div class="col-lg-12">
                            <div *ngIf="!chatService" class="alert alert-warning">
                                <strong>Warning!</strong> You need to start your stream to see your chat !
                            </div>
                            <div *ngIf="chatService" id="Chat" style="margin-top:0px">
                                <!-- Chat -->
                                <div *ngIf="chatService" #chat class="row" id="MessagesContainer">
                                    <div *ngFor="let chatMessage of chatService.chatMessages; let i = index" class="row">
                                        <div *ngIf="chatService.chatMessages[i].author != '' && (i == 0 || chatService.chatMessages[i - 1].author != chatMessage.author)" class="row"><img src="assets/icon-chomp.png" height="16" *ngIf="this.chatService.getRank() == 1" /><img src="assets/icon-redshell.png" height="16" *ngIf="this.chatService.getRank() == 2" /><span class="author">{{ chatMessage.author }}</span> <i *ngIf="this.chatService.getRank() <= 2 && chatMessage.author != sm.getLogin()" title="Mute user" class="fa fa-deaf chat-command" aria-hidden="true" (click)="this.chatService.sendMute(chatMessage.author)"></i> <i *ngIf="this.chatService.getRank() <= 2 && chatMessage.author != sm.getLogin()" title="Ban User" class="fa fa-ban chat-command" aria-hidden="true" (click)="this.chatService.sendBan(chatMessage.author)"></i></div>
                                        <div [ngClass]="{system : chatMessage.author == '', message : chatMessage.author != ''}" class="row">{{ chatMessage.message}} <i *ngIf="chatMessage.author != '' && this.chatService.getRank() <= 2" title="Delete message" class="fa fa-times chat-command" aria-hidden="true" (click)="this.chatService.sendDeleteMessage(chatMessage.id)"></i></div>
                                    </div>
                                </div>
                                <div *ngIf="chatService" class="row input-group">
                                    <input #newChatMessage id="newChatMessage" type="text" class="form-control" placeholder="Message...">
                                    <span class="input-group-btn">
                                        <button (click)="chatService.sendChatMessage(newChatMessage.value)" id="sendChat" class="btn btn-default" type="button">Send!</button>
                                    </span>
                                </div>
                                <!-- /Chat -->
                            </div>
                    </div>
                </div>

                        </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- !Stream CHAT -->

                <!-- Stream COVER -->
                <div class="col-md-6 text-center">
                    <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#streamcover_collapse">Stream Cover</a>
                                <button type="button"
                                        class="btn btn-success btn-xs pull-right"
                                        style="vertical-align: middle;"
                                        *ngIf="processingLive == false && imageData != null"
                                        (click)="UpdateCover()">Update Cover</button>
                                <button type="button"
                                        class="btn btn-success btn-xs pull-right"
                                        style="vertical-align: middle;"
                                        *ngIf="processingLive == true"
                                        disabled><i class='fa fa-spinner fa-spin '></i> Processing</button>
                            </h4>
                        </div>
                        <div id="streamcover_collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row" *ngIf="!stream">
                                <div class="col-xs-12">
                                    <div class="alert alert-warning">
                                        <strong>Warning!</strong> You need to start your stream to change your cover !
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="stream">
                                <div class="col-xs-6">
                                    <h4>Actual:</h4>
                                    <img id="actualCoverPreview" src="https://api.twicecast.ovh/streams/{{ stream.id }}/cover" onError="this.src='assets/default_cover.png'" class="img-responsive img-thumbnail" alt="Actual cover preview">
                                </div>
                                <div class="col-xs-6">
                                    <h4>Preview:</h4>
                                    <img id="newCoverPreview" src="https://api.twicecast.ovh/streams/{{ stream.id }}/cover" onError="this.src='assets/default_cover.png'" class="img-responsive img-thumbnail" alt="New cover preview">
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer" *ngIf="stream">
                            <div class="row" *ngIf="stream">
                                <div class="col-xs-12">
                                    <input type="file" (change)="fileChangeEvent($event)" class="btn btn-default btn-lg btn-block"/>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- !Stream COVER -->

            </div>

        </div>
    </div>
</div>
