<div id="live_body">
    <!-- OneTwo Layout -->
    <div class="container" style="padding-top:20px;padding-bottom:20px;">
        <!-- LiveOff -->
        <div class="row" *ngIf="live==false" style="height:80vh;">
            <div class="col-sm-6 text-center">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 form-group">
                        <label for="InputStreamTitle" style="color:black;">Stream title</label>
                        <input [(ngModel)]="InputStreamTitle" type="text" class="form-control" id="InputStreamTitle" name="InputStreamTitle" placeholder="Enter title" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 form-group">
                        <label for="InputStreamDescription" style="color:black;">Stream Description</label>
                        <input [(ngModel)]="InputStreamDescription" type="text" class="form-control" id="InputStreamDescription" name="InputStreamDescription" placeholder="Enter description" required>
                    </div>
                </div>
                <div class="row" style="margin-bottom:30px;margin-top:10px;">
                    <div class="col-lg-4 col-lg-offset-4 form-group">
                        <label style="color:black;">List of Tags</label>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1 text-center" *ngIf="tags">
                        <button *ngFor="let tag of tags" type="button" class="btn btn-primary tag-filter" data-toggle="button" (click)="tagPressed(tag.id)" aria-pressed="false" autocomplete="off">
                            {{ tag.name }}
                        </button>
                    </div>
                </div>            
            </div>
            <div class="col-sm-6 text-center">
                <div class="" style="height:100%;width:100%;background-color:red;">
                    <button class="getLive" (click)="goLive()">Turn on live</button>
                </div>
            </div>
        </div>
        <!-- /LiveOff -->
        <!-- LiveOn -->
        <div class="row" *ngIf="live==true" style="height:600px;">
            <div class="col-sm-6 text-center">
                <div class="row">
                    <div class="col-lg-12">
                            <div *ngIf="chatService" id="Chat">
                                <!-- Chat -->
                                <div #chat class="row" id="MessagesContainer" (scroll)="onChatScroll($event)" style="height:500px;">
                                    <div *ngFor="let chatMessage of chatService.chatMessages; let i = index" class="row">
                                        <div *ngIf="chatService.chatMessages[i].author != '' && (i == 0 || chatService.chatMessages[i - 1].author != chatMessage.author)" class="row"><span class="author">{{ chatMessage.author }}</span></div>
                                        <div [ngClass]="{system : chatMessage.author == '', message : chatMessage.author != ''}" class="row">{{ chatMessage.message}}</div>
                                    </div>
                                </div>
                                <div class="row input-group">
                                    <input #newChatMessage id="newChatMessage" type="text" class="form-control" placeholder="Message...">
                                    <span class="input-group-btn">
                                        <button (click)="chatService.sendChatMessage(newChatMessage.value)" id="sendChat" class="btn btn-default" type="button">Send!</button>
                                    </span>
                                </div>
                                <!-- /Chat -->
                            </div>
                    </div>
                </div>                    
            </div>
            <div class="col-sm-5 col-sm-offset-1 text-center" style="margin-top:10px;background-color:green;border-radius:5px;">
                <div class="row">
                    <div class="col-lg-12">
                        <button *ngIf="live==true" class="getLive" (click)="liveOff()">Turn off live</button>
                        <div class="row" style="text-align:center;color:black;">
                            Live status : <img *ngIf="live==true" src="../../../assets/GREEN.png" width="50">
                            <img *ngIf="live==false" src="../../../assets/RED.png" width="50">
                        </div>
                        <div class="row" style="text-align:center;color:black;">
                            Stream URL to put in OBS : 'http://twicecast.ovh:1935/live/'<br>
                            With '{{sm.getId()}}' as Stream Key.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /LiveOn -->
    </div>
    <!-- /OneTwo Layout -->
</div>
