<div id="live_body">
    <!-- OneTwo Layout -->
    <div class="container-fluid" style="padding-top:20px;padding-bottom:20px;">
        <!-- Stream -->
        <div class="col-lg-8" style="margin-bottom:20px;">
            <div class="row" *ngIf="live==false">
                <div class="col-lg-4 col-lg-offset-4 form-group">
                    <label for="InputStreamTitle" style="color:black;">Stream title</label>
                    <input [(ngModel)]="InputStreamTitle" type="text" class="form-control" id="InputStreamTitle" name="InputStreamTitle" placeholder="Enter title" required>
                </div>
            </div>
            <div class="row" *ngIf="live==false">
                <div class="col-lg-4 col-lg-offset-4 form-group">
                    <label for="InputStreamDescription" style="color:black;">Stream Description</label>
                    <input [(ngModel)]="InputStreamDescription" type="text" class="form-control" id="InputStreamDescription" name="InputStreamDescription" placeholder="Enter description" required>
                </div>
            </div>
            <div class="row" style="text-align:center;margin-bottom:20px;">
                <button *ngIf="live==false" class="getLive" (click)="goLive()">Turn on live</button>
                <button *ngIf="live==true" class="getLive" (click)="liveOff()">Turn off live</button>
            </div>
            <div class="row" style="text-align:center;color:black;">
                Live status : <img *ngIf="live==true" src="../../../assets/GREEN.png" width="50">
                <img *ngIf="live==false" src="../../../assets/RED.png" width="50">
            </div>
            <div class="row" style="text-align:center;color:black;">
                Stream URL to put in OBS : 'http://twicecast.ovh:1935/live/'<br>
                With your username as Stream Key.
            </div>
        </div>
        <!-- /Stream -->
        <!-- Right Col -->
        <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12" style="margin-left:5px;margin-right:5px;">
                        <h5 class="text-center" style="background: #a33; color: #fff">Chat !</h5>
                        <div *ngFor="let chatMessage of chatMessages; let i = index" class="row">
                            <div class="col-lg-12">
                            <div *ngIf="i == 0 || chatMessages[i - 1].author != chatMessage.author" class="row"><span style="background: #999; border-radius: 5px; margin-right: 5px; margin-left: 5px;">{{ chatMessage.author }}</span></div>
                            <div class="row" style="background: #999; border-radius: 5px;">{{ chatMessage.message}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input #newChatMessage id="newChatMessage" type="text" class="form-control" placeholder="Message...">
                                <span class="input-group-btn">
                                    <button (click)="sendChatMessage(newChatMessage.value)" id="sendChat" class="btn btn-default" type="button">Send!</button>
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- /Chat -->
        </div>
        <!-- /Right Col -->
    </div>
    <!-- /OneTwo Layout -->
</div>
