#stream_body 
{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    color: white;
}

#tree 
{
    background-color: #aaaaaa;
    color: black;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 5px;
    height: 150px;
}

footer 
{
    margin: 50px 0;
}
