
<div id="streamlist_body">
    <!-- Page Content -->
    <div class="container">
        <!-- <div class="profile-background"></div>-->
        <!-- Filter -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" *ngIf="tags">
                <button *ngFor="let tag of tags" type="button" class="btn btn-primary tag-filter" data-toggle="button" [class.active]="clicked == tag.id" [attr.aria-pressed]="clicked == tag.id" id="TAG{{tag.id}}" (click)="UpdateStreams(tag.id)" autocomplete="off">
                    {{ tag.name }}
                </button>
            </div>
        </div>
		<div class="row">
            <!-- Streams -->
            <div *ngIf="!streams"><div class="alert alert-info col-sm-12 col-lg-12 col-md-12 text-center">Loading...</div></div>
            <div *ngFor="let stream of displayedStreams; let i = index">
                <div class="pointer col-sm-4 col-lg-4 col-md-4 text-center" [routerLink]="['/stream/' + stream.id]">
                    <div class="thumbnail">
                        <img height="120" src="https://api.twicecast.ovh/streams/{{ stream.id }}/cover" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4><a>{{stream.title}}</a>
                            </h4>
                            <p>{{ stream.description }}</p>
                        </div>
                        <div class="live">
                            <p class="text-center">
                                • Currently live !
                            </p>
                        </div>
                        <div class="ratings">
                            <p class="text-center">
                                <span *ngFor="let tag of stream.tags"><span class="badge badge-danger">{{ tag.name }}</span> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
