#stream_body 
{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    color: white;
    background-color: #272727;
}

#tree 
{
    background-color: #aaaaaa;
    color: black;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 5px;
    height: 150px;
}

#Chat {
	border : 2px solid black;
	border-radius : 5px;
	margin-right : -15px;
	margin-left : -15px;
	margin-top : 10px;
	background-color : #2D241E;
}

#MessagesContainer {
    min-height: 450px;
	max-height : 450px;
	overflow : auto;
}

#Chat .author {
	margin-left : 5px;
	color : #E67E30;
	font-size : 24px;
}
#Chat .author.me {
    border-bottom : 1px solid #E67E30;
}

#Chat .chat-command {
    cursor: pointer;
    font-size: 11px;
}
#Chat .chat-command:hover {
    color: #E67E30;
}

#Chat .system {
	border-radius: 5px;
	color : #1FA055;
	font-size : 20px;
}

#Chat .message {
	border-radius: 5px;
	color : white;
	font-size : 18px;
}

#Chat .row {
	margin : 2px;
}

#Chat #sendChat {
	padding : 5px;
	font-size : 10px;
	margin-bottom : 0px;
}

#Chat #newChatMessage {
	color : white;
	font-size : 18px;
}

#Chat .gh-emoji {
    height: 32px;
}

.textcomplete-dropdown {
    position: absolute;
    z-index: 10000;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    list-style: none;
}

.textcomplete-dropdown .gh-emoji {
    height: 32px;
}

.textcomplete-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.textcomplete-item {
    color: black;
    padding: 10px;
}

#offline_stream {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}

footer 
{
    margin: 50px 0 0 0;
}

#codeEditor_body
{
    background-color: #272727;
    height: 100vh;
    color: white;
}

#codeEditor_bg
{
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background-color: #272727;
}

#tree
{
    background-color: #383838;
    color: white;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 5px;
    height: calc(95vh - 90px);
}

#offline_stream {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.fileTab {
    cursor: pointer;
}

.modifiedFile:not(.active) > a {
    background-color: rgba(255, 0, 0, 0.24);
}

.modifiedFile.active > a {
    background-color: red;
}
