#profillist_body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.profile-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url('assets/profile_background.jpg');
	background-size: cover;
	background-position: center bottom;
}

.profile {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.profile img {
	border: 1px solid black;
}
/*
.navbar {
    background-color: firebrick;
}

.logo_container {
    background-color: white;
    color: firebrick;
    border-radius: 15px;
}

.logo {
    float: left;
    margin-top: -15px;
    height: 50px;
}

.login {
    color: white !important;
}

.login:hover {
    color:black !important;
}
*/
.language_icon {
    vertical-align: middle !important;
    float: left;
    width: 32px;
    margin-top: -7px;
}

.javascript {
    color: black;
    background-color: #ddcf0d;
}

.javascript:hover {
    color: white;
    background-color: #ddcf0d;
}

.cpp {
    color: white;
    background-color: #2763c4;
}

.cpp:hover {
    color:black;
    background-color: #2763c4;
}

.ruby {
    color: white;
    background-color: #bf0d0d;
}

.ruby:hover {
    color:black;
    background-color: #bf0d0d;
}

.csharp {
    color: white;
    background-color:darkslateblue
}

.csharp:hover {
    color: black;
    background-color:darkslateblue
}
/*
a {
    color:firebrick;
}

a:hover {
    color:red;
}
*/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    position: absolute;
    top: 10;
    right: 15;
    padding-right: 10px;
    padding-left: 10px;
    color: #cb263c;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
